Body{
	background-image: url("../imagenes/fondop.jpg");
	font-family:"Lucida Console";
	color:#C13099; 
	font-size:15px;
}

P{
	text-align:justify;
	font-family:"Courier New";
	color:#372532;
	font-size:10px;
}

hr{
	border: 3px solid #D1F2EB;
	border-radins: 5px;
}
	
table, tr,td{
		
		border: 3px solid;
		border-color:#D1F2EB;
		background-color:#E3D1FE;
} 
		
ul{
	list-style-type:circle;
	list-style-position:inside;
}

ol{
	list-style-type: courier new;
	list-style-position:inside;
}
	
.pie{
		text-align:center;
		font-size:5px;
		color:#372532;
		font-family:"Lucida Console";
		font-weight: bold;
}

.titulo{ 
		text-align:center;
		font-size:15px;
		color:#372532;
		font-family:"Lucida Console";
		font-weight: bold;
}

.tablas{
		text-align:center;
		font-size:15px;
		color:#372532;
		font-family:"Lucida Console";
		font-weight: bold;
}

.marquesina{
	height:400px;
	width:400px;
}

.imageneshipervinculos{
	height:100px;
	width:100px;
	border-radius:10%;
}

.imagenestabla{
	height:200px;
	width:200px;
}

.imagenes{
	height:300px;
	width:300px;
	border:15px solid;
	color::#372532
}

@font-face{
	font-family:fuente1;
	src:url (../fuentes/Baby Camila);
}
@font-face{
	font-family:fuente2;
	src:url (../fuentes/Valentine Day);
}

div#top{ 
width:100%;
 height:80px;
 background-image:linear-gradient(#F4CAEB,#F4DCEF);
 }
 
 div#principal{ 
 margin:auto; 
 margin-top:50px; 
 width:100%; 
 height:400px;
 background-image:radial-gradient(#F4CAEB,#F4DCEF); 
 }
 div#piep{
	 width:100%;
	 height:100px;
	 background-image:linear-gradient(#F4CAEB,#F4DCEF);
	 margin-top:20px;
}
div#botones{
	 margin:auto;
	 margin-top:10px;
	 width:50%;
	 height:50px;
	 background-image: radial-gradient (#F4CAEB,#F4DCEF);
}
div#descripcion{
	 margin-top:20px;
	 width:100%;
	 background-color:#683158;
}
.caja{
	height:500px;
	width:450px; 
	background:radial-gradient(#F4CAEB,#EE87D5);
	border: 1px solid;
	margin: 5px;
	color:black; 
	text-align:center;
	display:inline-block;
}
 .caja:hover{ 
 box-shadow:0 0 10px purple;
 transform:scale(1.3); 
 }
 .caja.texto{ 
 padding-top:5px; 
 padding-bottom:5px; 
 font-size:20px; 
 color:white; 
 font-weight:bold;
 }
  .texto-adicional{
	  padding-top:5px;
	  font-size:15px; 
} 
 .carrousel{ 
 width:600px;
 margin:auto;
 box-sizing: border-box; 
 }
 .conteCarrousel{ 
 width:100%; 
 height: 400px; 
 overflow: hidden;
 box-sizing: border-box;
 }
 .itemcarrousel{ 
 position:relative;
 width:100%;
 height:100%; 
 box-sizing:boder-box;
 }
 .itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 20px;
    box-sizing: border-box;
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.conteCarrouselController > a{
    text-decoration: none;
    font-size: 32px;
    color: grey;
}
.menu{
height:100px;
width:100px;
background-image:radial-gradient;
margin:5px;
color:black;
text-align: center;
display:inline-block;

}
.menu:hover{
box-shadow:0 0 10px blue;
transform:scale(1.3);
}